%figure.text-center.pt-5.mt-5
  %blockquote.blockquote.mb-4
    %div{style: 'max-width: 850px; margin: auto;'}
      %h1.text-light.font-monospace
        Explore, Research, Learn new things and Play with Code
  %figcaption.text-secondary-emphasis
    %span.font-monospace.fst-italic.fs-5.d-inline.bg-body-secondary.d-inline.bg-dark.bg-gradient.shadow-lg.text-light{style: '--bs-bg-opacity: .3; --bs-text-opacity: .6;'}
      Hello world! I'm
      %strong
        Tank
      \. I'm a software engineer who loves to code and learn new things. I always try to improve myself and learn new things. Whenerver I have free time, I like to research some interesting things and practice by applying and coding with these.
