$bg-color: #f8f9fe;
$sidebar-bg-color: #fff;
$header-bg-color: #e93d62;
$link-color: #6e3de9;
$primary-color: #0092ff;
$secondary-color: #6c757d;
$success-color: #62e93d;
$info-color: #3de9c4;
$warning-color: #e9d93d;
$danger-color: #fe526e;
$light-color: #f6f9fc;
$dark-color: #172b4d;
$gray-color: #525f7f;
$light-gray-color: #8898aa;

// $theme-colors: (
//   "primary": $primary-color,
//   "secondary": $secondary-color,
//   "success": $success-color,
//   "info": $info-color,
//   "warning": $warning-color,
//   "danger": $danger-color,
//   "light": $light-color,
//   "dark": $dark-color,
// );
