.pt-3
  %h2.mt-5.mb-4.text-light.text-center.font-monospace This is a demo of the editor component.
.bg-white.rounded-5.shadow-lg.pt-5.m-auto{data: {controller: 'components--editor'}, style: 'max-width: 840px;'}
= text_area_tag :content, "", :class => "tinymce", :rows => 40, :cols => 120 
= tinymce
