.page-title
  .container-fluid
    .header-body
      .row.py-4.align-items-center
        .col-lg-6.col-7
          %h5.text-white.d-inline-block.mb-0.fw-semibold Paginated tables
          %nav.d-none.d-md-inline-block.ms-md-4
            %ol.breadcrumb
              %li.breadcrumb-item{"data-v-99912124" => ""}
                %a{href: "#/"}
                  %i.bi.bi-house-fill
              %li.breadcrumb-item
                %a{href: "#/tables"} Tables menu
              %li.breadcrumb-item.active
                Paginated Tables
        .text-right.col-lg-6.col-5
          %button.btn.base-button.btn-neutral.btn-sm{type: "button"}
            New
          %button.btn.base-button.btn-neutral.btn-sm{type: "button"}
            Filters
